.boardcolumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}
.boardcolumn:not(last-child) {
  border-right: 1px solid #d3d3d3;
}
.boardcolumn h1 {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  font-size: 18px;
  color: #d3d3d3;
  font-weight: lighter;
  padding-bottom: 10px;
}
.columnContainer {
  padding: 15px;
}
